{% load thumbnails %}
{% if newestRusk %}
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Latest rusk</li>
      <li>
        <ul class="thumbnails">
          <li class="span10">
            <div class="thumbnail">
              <a href="{% url rusk newestRusk.rusk.id %}">
                <img src="{{ MEDIA_URL }}{% generateThumbnail newestRusk.rusk.image.name %}" title="{{ newestRusk.rusk.title }}">
              </a>
            </div>
          </li>
        </ul>      
      </li>
      <li><h5>{{ newestRusk.rusk.title }}</h5></li>
      <li>Added {{ newestRusk.rusk.date_added|date:"d-M-Y" }}</li>
      <li>By {{ newestRusk.rusk.user }}</li>
    </ul>
  </div>
{% endif %}
