{% extends "base-defaults.html" %}
{% load thumbnails %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span12">
    <h2>{{ title }}</h2>
    <ul class="row-fluid thumbnails">
{% for rusk in rusks.object_list %}
      <li class="span4">
        <div class="thumbnail">
          <a href="{% url rusk rusk.id %}">
            <img src="{{ MEDIA_URL }}{% generateThumbnailGrid rusk.image.name %}" title="{{ rusk.title }}">
          </a>
          <div class="caption">
            <h5>{{ rusk.title }}</h5>
            <p>Added {{ rusk.date_added|date:"d-M-Y" }}</p>
            <p>By {{ rusk.user }}</p>
          </div>
        </div>
      </li>
{% endfor %}
    </ul>
  </div>
</div>

<div>
    <ul class="pager">
    {% if rusks.has_previous %}
    <li class="previous">
        <a href="?page={{ rusks.previous_page_number }}">Previous page</a>
    </li>
    {% endif %}
    <li class="disabled">
        Page {{ rusks.number }} of {{ rusks.paginator.num_pages }}
    </li>
    {% if rusks.has_next %}
    <li class="next">
        <a href="?page={{ rusks.next_page_number }}">Next page</a>
    </li>
    {% endif %}
    </ul>
    </span>
</div>

{% endblock %}
