{% extends "base-defaults.html" %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span12">
  	{% if user.is_authenticated %}
  		{% if already_liked %}
    		<h2>{{ singleRusk.title }} <button class="btn btn-warning" href="#">Unlike</button></h2>
		{% else %}
			<h2>{{ singleRusk.title }} <button class="btn btn-success" href="#">Like</button></h2>
		{% endif %}
    {% else %}
    	<h2>{{ singleRusk.title }} </h2>
    {% endif %}
    <img src="{{ MEDIA_URL }}{{ singleRusk.image }}" title="{{ singleRusk.title }}">
    <table class="table">
    <tbody>
    <tr><td>Title</td><td>{{ singleRusk.title }}</td></tr>
    <tr><td>Date</td><td>{{ singleRusk.date_added|date:"d-M-Y" }}</td></tr>
    <tr><td>Submitted by</td><td>{{ singleRusk.user }}</td></tr>
    <tr><td>Views</td><td>{{ singleRusk.views }}</td></tr>
    <tr><td>Likes</td><td>{{ singleRusk.num_likes }}</td></tr>
    </tbody>
    </table>    
  </div>
</div>

{% endblock %}
